.DS_Store
*.pdb
*.dll
*.rsp
*.log
/VersioningTime/Library
/VersioningTime/Logs
/VersioningTime/Temp
VersioningTime/Library/SourceAssetDB
VersioningTime/Library/SourceAssetDB
VersioningTime/Library/SourceAssetDB-lock
/VersioningTime/UserSettings
/VersioningTime/Library
